/*
Html, body
*/
html, body{
    height:100%;
}
body{
    background:rgba(221,221,221,0.66);
}
/*
Page
*/
.page{
    position:absolute;
    overflow: visible;
    overflow-x: hidden;
    top:0;
    left:-120%;
    width:100%;
    display:block;
    transition:all 400ms ease-in 0s;
    opacity:0;
}
.page.active{
    transition:all 400ms ease-in 100ms;
    left:0;
    opacity:1;
}

/*
Buttons
*/
.btn{
    background:rgba(221,221,221,0.16);
    color:#fff;
    padding:6px 12px;
    border-radius:6px;
    box-shadow:inset 0 1px 2px 0 rgba(255,255,255,0.46);
    border:1px solid #50b586;
    text-decoration: none;
    font-size:18px;
    display:inline-block;
}
.btn>i{
    margin-right:12px;
}
.btn:hover,
.btn:focus{
    background:#50b586);
}
.btn:active{
    background:#50b586;
}
.btn-default{

}
.btn-primary{
    background:#50b586;
}
.btn-large{
    width:100%;
}

/*
Header
*/

.header-wrapper{
    position:relative;
    background:#50b586;
    z-index:2;
}

/*
HEADER AND LOGO
*/
.header-wrapper .col{
    margin-bottom:0;

}
.header-logo h1{
    margin:0;
    padding:0;
    text-align: center;

}
.header-logo h1 a{
    color:rgba(255,255,255,1);
    text-decoration: none;
}

/*
NAVIGATION
*/
#navigation-wrapper{
    background:#8FC1AA;


}
#navigation-wrapper .row{
    margin:0 -1.075269%;


}
#navigation-wrapper .row>.col{
    margin:0;
    width:100%;


}
#navigation-wrapper nav#main-navigation>ul{
    list-style: none;
    margin:0;
    padding:0;

}
#navigation-wrapper nav#main-navigation>ul>li{
    float:left;
    width:33.3333%;



}
#navigation-wrapper nav#main-navigation>ul>li>a{
    display:block;
    padding:6px 12px;
    text-decoration: none;
    font-weight:500;
    text-align: center;
    color:#EFEFEF;
}
#navigation-wrapper nav#main-navigation>ul>li>a>i{
    display:block;
    font-size:1.6em;
}
#navigation-wrapper nav#main-navigation>ul>li.active{
    background:#50b586;
}
#navigation-wrapper nav#main-navigation>ul>li.active>a{
    color:#23684a;

}
#navigation-wrapper nav#main-navigation>ul>li:hover{
    background:#23684a;
}
#navigation-wrapper nav#main-navigation>ul>li:hover>a{
    color:#FFF;

}

.navnav{
    font-size: 20px;
}

/*
Main
*/
.main-wrapper blockquote{
    border-left:6px solid rgba(0,170,204,1);
    background:rgba(119,119,119,0.08);
    margin:0;
    padding:2.150538%;
}

/*
Form
*/
form .row .col{
    margin-top:3px;
    margin-bottom:6px;
}
input{
    padding:8px 12px;
}

/*
Category
*/
.contact{
    background:rgba(255,255,255,0.46);
    margin-bottom:12px;
    padding:6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contact:hover,
.contact:focus{
    cursor:hand;
    cursor:pointer;
}
.name{
    position:relative;
    font-size:22px;
    top:-2px;
}
.avatar{
    background:rgba(204,0,119,0.46);
    margin-right:12px;
}
.avatar.fa{
    font-size:32px;
    padding:4px;
}
/*
Category details
*/
.contact-details-personal{
    margin-top:21.440px;
}
.contact-details-personal .avatar{
    background:rgba(204,0,119,0.46);
    margin-right:12px;
}
.contact-details-personal .avatar.fa{
    font-size:128px;
    padding:4px;
}
.contact-details-personal .info{
    display:inline-block;
}

.fa-trash{
    float: right;
    margin: 5px;



}

.fa-trash:hover{
    color: red;


}

.detailname{
    font-size: 50px;
    margin: auto;
    margin-top:50px;
    color: #50b586;
}

#todo, #done{
    list-style: none;
    padding: 10px;
    margin: 10px;
    width: 48%;
    float: left;

    background: rgba(255,255,255,0.46);
}

.listTitle{


    margin: 10px;
    margin-top: -40px;
    margin-bottom:-40px;
    width: 48%;
    color: #23684a;
    font-size: 30px;
    float: left;
    text-align: center;


}
.listItem{
    margin-top: 10px;
}

.ThingToDoInList{
    margin: 10px;


}







#aboutDevelopers{
    margin: auto;
    background-color: #23684a;
    width: 100%;
    float: none;
    border-radius: 5px;
    border: 1px;
    margin-top: 40px;
    border-radius: 5px;


}

.titleDevelopers{
    background-color: #50b586;
    width: 105%;
    margin:auto;

}



.aboutTitle {
    font-size: 40px;
    color: #CCC;
    margin-top: 100px;
}

.aboutText{
    color: #000;
}

#imageThomas{
    margin: auto;
}

.developersIndiv{
    margin: 30px;



}
.aboutThingsToDo{
    margin: auto;
    background-color: #23684a;
    width: 100%;
    float: none;
    border-radius: 5px;
    border: 1px;
    margin-top: 40px;
    border-radius: 5px;
}



.contactInformation{
    margin: 20px;
    margin-top: 100px;
}

a{
    color: #EEE;
}

a:hover{
    color: #50b586;
}

.p1{
    margin-top: 50px;
}